/**
 * Colours:
 *		- #E22C2C = red
 *		- #EEAAAA = red (header logo & "search by Google" link)
 *		- #FDF5CE = red (context code & listings of variables)
 *		- #4B89B9 = blue
 *		- #7FA64D = green
 *		- #575757 = gray
 *		- #BFBFBF = gray-lighten
 *		- #F6F6F6 = silver
 *		- #F0F0F0 = silver-dark
 */
html,
body {
	margin:0;
	padding:0;
	font-family:Verdana,sans-serif;
}

p {
	margin:.5em 0 0;
}

a,
h2,
h3 {
	color:#4B89B9;
}

a {
	text-decoration:none;
}

/* un/fold signs */
a abbr {
	color:#BFBFBF;
}

/** header ********************************************************************/
header {
	display:block;
	padding:.5em .5em .5em 8em;
	background:#E22C2C url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABuCAYAAADGWyb7AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90BGxUUIjkvq1UAAAqMSURBVHja7Z1/jFTVFcc/587wU4SdWRYFrJoColtpUKytJVoRRNPaYoF5u0VUqiarVVNNbNVW00kjahNratOaoFUbNbL7ZpEqCg01YMRYow1R0EWtPwGh/NiZXVn5Nfve6R8zrMsu+6OznTdvd+832ezMm7d7J+dzz7nnvvfuuUI/kSaTpnnatFN9zztDVc8AJorIOGA8MA4YAYwBDDAMGAn4QHP+X2Tyv3cp7ERku/j+Doz5zPe8t8uN+UAcx+sv9pDQglq9elhzS8tMT+RCUZ0FzMjDKZb2A5tF5DWBF8eobhDHOWzB9VKZVOpCVBcrLMx7UKnUguoLYsyyWCLxsgXXNbB5qnp33rPCpgZU74k5Tq2IqAUHZFasOEU9bxlwST8YWl4X378+Vl399qAGl6mru0BFVgJx+o8OAj+PO84jpfwSplQNN7nuRSqytp9BAxgOLMukUr8ZdB6323VPjEIDEKM/S/WmeFXVnweNx0VE7u8BmgIvI3Kvwm+B1UBr+HJy+X26vv6bpWg6GnSD+559dly2tfWKbk7ZCThxx3m1/cF0be2ZGFMPTA0RumHi+w8Acwe8xx32vO9102EOY8ylHaEBxKur39FIZA6QDlW0hIszrjt94IdK3z+lmwH3qfjChZu6+rx8wYLtAg+FbqgTSQx4cCLSZXj2Vdf2zN1fGzZwonruoJkOdKHmHsEZkwmdx8FJgxqc6UXiEc3dGQgbuMigBqciSzSZND2cc03oQmXuasqgDpVnZSorl3b1Ybqu7nrgh1gFP4/rhe5odN3TIr6/tKy6eiPAHtedGoVfKFxjkYUXHALzfWPmp133ALm72MepZRV+cO00wiLqH2OclQVnwVlZcCAiX1qz98PkRH3/UxF5KZC2YDowdiCCk4HcK9Ou+wLwgwCa2hx3nEBvqNoxzoZKq3aefrKBip7O843Jtvr+x+McpyUQcNtcd8RImG5gqi9SLjAU3/dDaMNJJWr3Dh9u6PEs3yeaA/0+qs9FRB4d4zgf/l/BaTJpmiorL1O4DpgNjFRAVI+ki9bVCtdURH7pwW2ZVOqvUdU7jnecPX0e45pSqdmZysrNCs+Ruzo/0tq6ODmHql6ThU2ZurpZBYPT1auHpV33YV/1JaDS2jUwnagif2+sq1vwP4NLu+6YTEvLOnoTq62KoaEiUtfoupf2GtyOVatGAi8C37X2K6kiAs80u+7kXoEbvn//Y8BMa7dQKObB46oq3YLLpFI/RaTa2itUOr+pvv7KLsF98cwzY1X1IWun8ElV71PXHXpMcF40eidwvDVTKDWhqV0kbAO3Z/nyCWozyLB73S2dwEWMWYJ9xqNQBVWd4azG+vpvHAVORK629i9M8lUNlaLLeN78NnCNtbXfUTjNIig4hO3t8H540doSufwrj4tEvm/N3ydjvnmUB4oUc4n02c2uGzcAonq+NX+fQuUbHd5PKGZ7rSLnmPzc4NvW/AVra6yh4bU271u/PqowrajjHJxr0r5/ts0m+zS+PSHJZNtN5KbGxmnFtqeqzjAiMtmav0ADwm6y2Qc7WPVHATQ92YjI1y2Cgrv+zeWLF3/RzhNEVRcH0PLJRlUnWQIF6f7yqiq3/YFMKjUTCCKCjTZYjytkjLkn7jh3HiO7DKxMVJTS1oTsb9qJak15VdWqjh80plIJVZ0TJLjRlkeP2qaqj3siD4yrqur0DGSz6072VJcF+YWiAsPtas9O8oAGRF73fd8t37JlXfuUv732uu5ED9YQcEG5qObK+IWnZ8ObRvUtFdmlIhmgWQN62NaIHPRgj3fw4PYTr7qqx1VFe2trv2VgBfC1oA0VhlDZIiKPiuc9fWSxftiVWbmyTLPZ24FbKFHHjwJZYGiprjr40eivKxYs2Bn6TDKZNI2nnz7DGHOVZrNXUOJam1HgQAnAtShcV15VVdfTiY0rVpyE550hIuNEdWwxb5l0kkgZIuWoTs3AWSZEj3VEydXbD3JKsN/AvDLHWXfMnu26kUbVWcaYq1GdjeeNz7snmjNm0GEhlBHgSKgkwF58bVkise4YwIamVW/MwG1GZEJYDRYmcM0BtvdUPJGo7XiwyXVnZOBpETndIun9dGBPQMFnvxeJ3N4pQ0ul5vmqtYRrWtIPPE5kWyBhSfWxjtljYyo1V1VXUIKygf1cvgG2BtJSJPJwx2xRVJdbaAVph8H3twXQ0OaxCxe+d1SO4nm/o/9tFhEWfWwMvF/0KAlHZZH5hzp/Yu1f8LCzxWRFNpK7qFo0mVwbX3mb6hIGeI2VosqYDSZfquG9onYQz9vYocdcbq3fJ4/bYPKh7M2ipq6+/58jr5tdN04wt/cHqj6LO85Wkye4ppgtjV60aG+78W66tX2fvO15yD+C7g8fvgY4FES7ns0k+za8RSJPtoGrmDdvH/CPQFoWKbPmL1gNZQsX/qsNXM6e8pdAuKkOsfYvuNP/sc3zjrwoe/fdVcCH1jqh1UexdPrxTuAkmfRR/YO1T2i97S6pqcl2AgcQa2p6hNwWmFZhYgb1HW+HHQVOamqyonpTLmu3Com2GqjplF12PBCrqlqP6v3WXiGYssFu35hLxjhOukdwADGRu4EXrOlKqm3i+7M73lXpFpw4jheDBcDz1n4l8bR1Q2BGvLr6nS4n4l0OiI5zOFZRsQBYSm5jIqvi6xNUF8UTiTl9qhArs2a1xh3nLvX9mcBr1q5FURqoE5HLYzAlXlW1XER6TA57VZO5vLr6dWDmXtc9V2CRwIXktsUM+wM+P1ORvWH7UgY8VBsNfD46kfioN6AKAndEYx3nDfKlITSZNM1TpoR9bd2L5YnE1oHopgXvO5BfdpTBqlReazWoPK6faFPadYPIiLcHvbfOQAcX1Bi8z4ZKKwvOgrOy4KxsclI0CXygkBE4VeEECy78WuPBrRWO8z7kiqpl6usvRfVPQKhKZ9lQ2eZm4sYaGi47Ai13SDSeSKwZEo2eB3xqwYVPX0az2Ru7qh50/Pz5u1X1tkENLtByF739TrC2/WPyx1K8qel5oGXQgpNcXZWwJSOf93hOTU1WYeegBUcvjFQC9biDsCaTRmDcoAUX9bx/UuSFlAVo7m7XHdXdCenKytl0fe3z8IAHlx9L1oYMXCwK93X14Y5Vq0YKPNjN33844MHldW8Iw+VNadddllm58qjVRI2uWzniwIH1wJndTCVWlWBcLo3SrvskcGUIAe4HNiCSFtVJCud018EVdnswKb8kO7ghp1TW8YYNuzFy6NB0irwrRgEaCVzSVvSth5zFwPXlAUMr6QS8Yt68fdnW1ospcuGAIutXMcdZOVimA206YdGiXTJkyHnA3/oZsFbg5rjjlGyNRShqjaiqNNXXL1HVpcD4kEN7y/j+taUuQxyqIjG7XXfUENVbVeSGEAJ8F7g3BnXiOCWfh4ayuo8uWzYkXVb2YxFZBMwBjitV8ovICvH9p8u2bHm1q4vQFtwx9MkTTwwfPWrUBQIXierZ+TopFcXoL8BnwCYVeUU975VyYzaGwbv6Jbgu5oAnG5EpChMVJuL74zHmBFTLJJdwjVEwCqMld0XfB/YLHNLczx5R3Sm5vQ12GdV/Hzx48L3e7DUQFv0XBy7IBIkL/U8AAAAASUVORK5CYII=) 0.5em 0.2em no-repeat;
	color:#FFF;
}

header h1 {
	margin:0.5em 0;
}

/* opener for panel with exception attributes */
header h1 a,
header h1 a:active,
header h1 a:focus,
header h1 a:hover {
	color:#FFF;
}

header p {
	margin:.8em 0;
}

/* invisible "search by Google" link */
header p a,
header p a:active,
header p a:focus {
	color:rgba(0, 0, 0, 0);
}

/* "search by Google" link - visible by hover */
header p:hover a {
	font-weight:bold;
	color:#EEAAAA;
}

/** panels ********************************************************************/
.panel {
	margin:10px 15px;
}

/* link with path to file */
a[href^=editor\:] {
	color:#000;
}

/** listing of variables ******************************************************/
dl {
	margin:5px 0 0;
	padding:.4em .8em;
	border:1px dotted #F0F0F0;
	background-color:#FDF5CE;
	color:#000;
	font-family:monospace;
	overflow:auto;
}

dl.folded {
	display:none;
}

dl dt {
	font-weight:bold;
}

dl dd {
	padding-bottom:.7em;
}

/** context code **************************************************************/
pre {
	margin:5px 0 10px;
	border:1px dotted #F0F0F0;
	background:#FDF5CE;
	overflow:auto;
}

pre,
code {
	font:10pt/1.5 monospace;
}

pre code ol {
	padding:0;
	list-style-position:inside;
	list-style-type:decimal-leading-zero;
	color:#575757;
}

pre code ol li {
	padding-left:.3em;
}

/* highlighted line */
.clickable {
	cursor:pointer;
}

pre code ol li.clickable,
pre code ol li.clickable span {
	color:#FFF;
	font-weight:bold;
	background-color:#E22C2C;
}

/* code has black colour but line numbers stay gray */
pre code ol li span {
	color:#000;
}

/* left border as delimiter between line numbers and code */
pre code ol li span,
pre code ol li.clickable span {
	border-left:1px dashed #575757;
}

/* hide panels with locals/globals when parent panel is folded */
.folded .frame-variables {
	display:none;
}

/* hide context lines if panel is folded */
.folded pre code ol li {
	display:none;
}

/* show line of exception source */
.folded pre code ol li.clickable {
	display:list-item;
}
